apiVersion: v1
kind: Secret
metadata:
  name: mongo-express-auth
  namespace: hotel-system
type: Opaque
stringData:
  username: replace-with-mongo-express-username
  password: replace-with-a-strong-password